* {
  box-sizing: border-box;
}

/****** Generell Opdeelung ******/

.quiz {
  display: flex;
  border: solid black 3px;
  width: 80%;
  text-align: center;
  margin: 20px auto;
}

#actualQuiz {
  flex-grow: 8;
  border: 5px solid blue;
  padding: 20px;
  margin: 20px;
}

#quizInformations {
  flex-grow: 2;
  border: 5px solid blue;
  margin: 20px;
}

/********* Actual Quiz Content **********/

#questionTextHTML {
  display: block;
  width: 60%;
  margin: 20px auto;
  border: solid indigo 1px;
  padding: 10px;
}

.answer {
  width: 40%;
  border: solid indigo 4px;
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  transition: all 0.5s;
}

.answer:hover {
  color: whitesmoke;
  background-color: indigo;
}

.answerfalse {
  width: 40%;
  color: white;
  border: solid red 4px;
  background-color: red;
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  transition: all 0.2s;
}

.answercorrect {
  width: 40%;
  color: white;
  border: solid rgb(115, 255, 0) 4px;
  background-color: rgb(115, 255, 0);
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  display: inline-block;
  transition: all 0.2s;
}

/******* Kreeser *******/

.marking {
  padding: 20px;
  background-color: lawngreen;
  margin-right: 20px;
  border-radius: 50%;
  font-weight: bolder;
}

/**** Deppchen nächst fro ****/

#btn {
  padding: 10px;
  border: solid black 3px;
  font-size: 20px;
  border-radius: 10px;
}

/**** Hidden class ****/

.hidden {
  display: none;
}

/**** Moment Score ****/

#momentScore {
  font-size: 120px;
  color: greenyellow;
}
